@import url(global.css);

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

}

main {
  width: 62.6rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  font-family: "Dosis";
}

main > img {
  margin-top: 6.4rem;
  margin-bottom: 3.2rem;
}

main > #title {
  font-size: 3.2rem;
  font-weight: 500;
  color: #3f3d56;

  margin-bottom: 1.6rem;
}

#title > span {
  font-size: 3.2rem;
  font-weight: 700;
  color: #ee24ff;
}

main > #subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: #828282;

  margin-bottom: 1.6rem;
}

#subtitle > span {
  font-weight: 700;
  color: #3f3d56;
}

main > #paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  color: #828282;

  margin-bottom: 3.2rem;
}

#paragraph > span {
  font-weight: 700;
  color: #3f3d56;
}

main > #text-end {
  font-size: 1.8rem;
  font-weight: 400;
  color: #828282;
}

footer {
  height: 17.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-self: flex-end;

  width: 100vw;
}

footer > nav {
  width: 39rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid #eceff2;

  margin-bottom: 4rem;
}

footer > nav > ul {
  display: flex;
  align-items: center;
  gap: 4.2rem;

  padding-top: 1.6rem;
}

footer > nav > ul > li > a {
  font: 700 1.8rem 'Dosis';
  color: #3f3d56;
}

footer > img {
  width: 100%;
  height: 10.4rem;
}
